{% load i18n pages_tags static %}

{% spaceless %}
{% if page_branch_in_menu %}

    {% if branch_level == 0 %}
    {% for page in page_branch %}
        {% if page.html_id == 'market' and page.in_menu and page.has_children_in_menu %}
            {% page_menu page %}
        {% endif %}
    {% endfor %}
    {% endif %}

    {% if branch_level == 1 %}
        <div id="catalog-collapse-menu">
        {% for page in page_branch %}
            {% if page.in_menu %}
                <div class="card catalog-tree">
                    <div class="card-header card-header-tree" id="heading-{{page.html_id}}" data-toggle="collapse" data-target="#collapse-{{page.html_id}}" aria-expanded="false" aria-controls="collapse-{{page.html_id}}">
                        <a href="{{ page.get_absolute_url }}">{{ page.title }} </a>
                    </div>
                    <ul id="collapse-{{page.html_id}}" class="list-group list-group-flush collapse">
                        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

    {% if branch_level == 2 %}
        {% for page in page_branch %}
            {% if page.in_menu %}
                <li class="list-group-item">
                    <a href="{{ page.get_absolute_url }}">{{ page.title }} </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{% endspaceless %}