{% load i18n pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    {% for page in page_branch %}
    {% if page.html_id == 'market' %}
    {% if page.in_menu %}
    <a href="{{ page.get_absolute_url }}"
           {% if page.has_children_in_menu %} class="nav-link dropdown-toggle" data-toggle="dropdown"{% endif %}>
            {{ page.title }}
            {% if page.has_children_in_menu %}<span class="caret"></span>{% endif %}
    </a>
    {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    <li class="divider-vertical"></li>
</div>
{% endif %}

{% if branch_level == 1 %}
<div class="dropdown-menu">
    {% for page in page_branch %}
    {% if page.in_menu %}
    <a class="dropdown-item" href="{{ page.get_absolute_url }}">{{ page.title }} </a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endif %}
{% endspaceless %}