<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/font.css" %}">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
        <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
        {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
        {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static "js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/popper-1.14.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!--<script src="{% static "js/bootstrap-extras.js" %}"></script>-->
    {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>

<body>
{# This allows for a sticky footer while having a fixed navbar #}
<div id="wrap">
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <img src="{% static "imgs/lumine4.png" %}" style="width: 120px; margin-bottom: 5px;">
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">Кларум</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% nevercache %}
                {% include "includes/user_panel.html" %}
                {% endnevercache %}
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>
    <!--<div class="jumbotron p-3 p-md-5 text-white rounded bg-black" style="background-image:url('{% static "imgs/streetlights.jpg" %}');">-->
        <!--<div class="col-md-8 px-0">-->
            <!--<h1 class="display-4 font-italic">Нереальный заголовок с ссылкой на товар или запись в блоге</h1>-->
            <!--<p class="lead my-3">Здесь должен располагаться дескрипшн к заголовку или нерельно-крутое описание, от которого все шарахнуться и перейдут по ссылке</p>-->
            <!--<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Читать далее...</a></p>-->
        <!--</div>-->
    <!--</div>-->
    {% nevercache %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" data-alert="alert">
        <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
    </div>
    {% endfor %}
    {% endnevercache %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% block left_panel %}
            <div id="catalog_menu">
                {% page_menu "pages/menus/tree.html" %}
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static "imgs/streetlights.jpg" %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static "imgs/industrial-lighting.jpg" %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% for category in child_categories %}
            <div class="col-sm-6 col-md-3">
                <a href="{{ category.get_absolute_url }}">
                    {{ category.title }}
                </a>
            </div>
            {% endfor %}
            {% endblock %}
        </div>

        <div class="col-md-9">
            <div class="nav-scroller py-1 mb-2">
                {% page_menu "pages/menus/dropdown.html" %}
            </div>
            <h3 class="pb-3 mb-6 font-italic border-bottom">{% block title %}{% endblock %}</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% spaceless %}
                    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                    {% endspaceless %}
                </ol>
            </nav>
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
</div><!-- /wrap -->


<footer>
        <!-- Grid row-->
        <div class="blog-footer py-4 d-flex align-items-center" style="padding-left: 15px; padding-right: 15px;">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Свяжитесь с нами в социальных сетях!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fa fa-facebook white-text mr-4"> </i>
                </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->

    <!-- Footer Links -->
    <div class="text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Кларум-Люминэ</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Пафосное представление компании, которое должен написать Яковлев.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" class="p-2 text-muted">MDBootstrap</a>
          </p>
          <p>
            <a href="#!" class="p-2 text-muted">MDWordPress</a>
          </p>
          <p>
            <a href="#!" class="p-2 text-muted">BrandFlow</a>
          </p>
          <p>
            <a href="#!" class="p-2 text-muted">Bootstrap Angular</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" class="p-2 text-muted">Your Account</a>
          </p>
          <p>
            <a href="#!" class="p-2 text-muted">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!" class="p-2 text-muted">Shipping Rates</a>
          </p>
          <p>
            <a href="#!" class="p-2 text-muted">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> info@example.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

    <!--<div class="container">-->
    <!--{% page_menu "pages/menus/footer.html" %}-->
    <!--<p class="text-muted credit">-->
        <!--{% trans "Powered by" %}-->
        <!--<a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},-->
        <!--<a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}-->
        <!--{% trans "and" %}-->
        <!--<a href="http://www.djangoproject.com">Django</a>-->
        <!--<span class="separator">|</span>-->
        <!--{% trans "Theme by" %} <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>-->
        <!--{% ifinstalled mezzanine.mobile %}-->
        <!--<span class="separator">|</span>-->
        <!--<a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>-->
        <!--{% endifinstalled %}-->
    <!--</p>-->
    <!--</div>-->
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
