{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% load i18n %}
{% block main %}
{% blocktrans %}
  <div class="jumbotron p-4 p-md-5 text-white rounded block-background-image">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Автомобильные диагностические системы и технологии</h1>
      <p class="lead my-3">Мы разрабатываем системы для постоянного мониторинга автомобиля и дорожной ситуации</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Решения для бизнеса...</a></p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Решения для индивидуального использования...</a></p>
    </div>
  </div>
{% endblocktrans %}
{% endblock %}
